<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecypax - Dominate The Game</title>
    <link rel="stylesheet" href="style.css" />

    <script>
    function Myf() {
        document.getElementById("demo").innerHTML = "Paragraph changed.";
      alert("Hello! I am an alert box!");
}
    </script>

  </head>
  <body>
    <nav class="navbar background">
      <ul class="nav-list">
        <div class="logo"><img src="I/man.jpg" alt="logo" /></div>
        <li><a href="#home">Home</a></li>
        <li><a href="#service">Service</a></li>
        <li><a href="#reach">Reach Us</a></li>
        <li><a href="#about">About Us</a></li>
      </ul>
      <div class="rightNav">
        <input type="text" name="search" id="search" />
        <button class="btn btn-sm">Search</button>
      </div>
    </nav>

    <section class="background firstSection">
      <div class="box-main">
        <div class="firsthalf">
          <p class="text-big">The future of gaming is here</p>
          <p class="text-small">
            The gaming and esports sector in India is witnessing growth and has been proliferating at a good pace. With the easy availability and accessibility of technology and the internet, the online gaming industry is booming. The concept is quite recognized and famous now, especially in the millennial and gen Z generation.
            <div class="buttons">
                <button class="btn">Know More </button>
                <button class="btn">Hire a coach</button>
                <button class="btn" onclick="Myf()">Get Your Dude asd</button>


            </div>
          </p>
        </div>
        <div class="secondhalf">
          <img src="I/kk.jpg" alt="pic">
      </div>
      </div>
    </section>

    
  </body>
</html>
